<div class="jumbotron">
  <h1>  <i class="fa fa-circle-o-notch" ></i> Welcome to Taskr </h1>
  <p>Help you increase your productivity</p>
  <%= link_to 'Signup','#' , class: "btn btn-primary "%>

</div>
